/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    /* font-size:100%; */
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

:root {
    --handstoburma-primary: #565676;
    --handstoburma-primary: #91818A;
    --handstoburma-primary: #A1A6B4;
    --handstoburma-primary: #58504A;
    --handstoburma-secondary: #DBB1BC;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: var(--handstoburma-secondary)!important;
    color: #fafafa;
    transition: all 200ms 50ms ease-out;
}

#btn-back-to-top:hover {
    box-shadow: 0 0 5px var(--handstoburma-primary);
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #000;
    color: #fff;
    padding: 0.5em 0.75em;
    font-weight: 600;
    text-decoration: none;
}

.skip-links a:focus {
    position: relative;
    top: 0;
}

* {
    text-decoration: none;
}

body {
    background-color: #fafafa;
    /* scroll-behavior: smooth; */
}

.logo-container a{
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

.header {
    height: 100vh;
}

.nav-bar {
    color: #2b4e6e;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.menu {
    background-color: var(--handstoburma-primary);
    padding: 25px 30px;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}

.menu li a {
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #F8F8F8; 
    padding: 10px;
    text-align: center;
    font-size: 14px;
    transition: all 200ms 50ms ease-out;
}

.menu li a:hover {
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--handstoburma-secondary); 
    text-shadow: 1px 1px 1px #000;
}

.menu li:last-child a {
    border: 1px solid var(--handstoburma-secondary);
    padding: 8px 12px;
    border-radius: 3px;
    color: #f8f8f8;
    box-shadow: 0 0 2px white;
    transition: all 200ms 50ms ease-out;
}
.menu li:last-child a:hover {
    border: 1px solid none;
    padding: 8px 12px;
    border-radius: 3px;
    background-color: var(--handstoburma-secondary);
    color: var(--handstoburma-primary);
    box-shadow: 0 0 2px black;
    text-shadow: 0 0 0;
}

.footer-menu {
    margin-bottom: 20px;
    padding-left: 100px;
}

.contact-us {
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 10px;
}

.footer-menu h1 {
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-size: 30px;
    /* font-weight: 600; */
    line-height: 40px;
}
.contact-us h1 {
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-size: 30px;
    /* font-weight: 600; */
    line-height: 40px;
}

.footer-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: var(--handstoburma-primary);
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 40px;
    transition: all 200ms 50ms ease-out;
}

.footer-menu ul li a:hover {
    color: var(--handstoburma-secondary);
    font-size: 22px;
}

.address h5 {
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
}

.address p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: var(--handstoburma-primary);
}

.social {
    width: fit-content;
    margin: 0 auto;
    padding-top: 10px;
}

.social ul {
    list-style: none;
    padding: 0px;
}

.social ul li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.social ul li a {
    font-size: 30px;
    color: var(--handstoburma-primary);
    transition: all 200ms 50ms ease-out;
}

.social ul li a:hover {
    font-size: 35px;
    color: var(--handstoburma-secondary);
}

.short-border-bottom-left {
    width: 100px;
    height: 4px;
    background-color: var(--handstoburma-secondary);
    margin-top: 10px;
    margin-bottom: 10px;
}

.copyright {
    padding: 10px;
}

.copyright p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--handstoburma-primary);
    text-align: center;
}

.disclaimer {
    font-size: 18px;
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-weight: 600;
}

.disclaimer-text {
    font-size: 14px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
}

p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.text-stroke {
    color: var(--handstoburma-secondary)!important;
}

@media screen and (max-width: 1200px) {
    .menu {
        padding: 25px 15px;
    }
    .footer-menu {
        padding-left: 40px;
    }
}

@media screen and (max-width: 992px) {
    .menu {
        padding: 15px 10px;
    }
    .menu li a {
        font-size: 12px;    
    }
    .footer-menu {
        padding-left: 10px;
    }
    .contact-us {
        padding-left: 10px;
    }
    .logo {
        text-align: center;
    }
    .logo-container a{
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .contact-us {
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .menu li {
        margin: 5px;
    }
}

@media screen and (max-width: 576px) {
    .social ul li {
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .social ul li a {
        font-size: 25px;
        color: var(--handstoburma-primary);
        transition: all 200ms 50ms ease-out;
    }
    
    .social ul li a:hover {
        font-size: 30px;
        color: var(--handstoburma-secondary);
    }
    .footer-menu h3 {
        font-size: 25px;

    }
    .contact-us h3 {
        font-size: 25px;

    }
}

@media screen and (max-width: 480px) {
    .footer-menu h3 {
        font-size: 25px;
    }
    .contact-us h3 {
        font-size: 25px;
    }
}
