.short-border-bottom {
    width: 130px;
    height: 4px;
    background-color: var(--handstoburma-secondary);
}

.p-10 {
    padding: 10px;
}

.statement-title h1 {
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
}

#info-block .file-marker {
    border: 1px solid var(--handstoburma-primary);
    border-radius: 5px;
    margin: 50px 10px;
}

.file-marker > div {
    padding: 0 3px;
    height: fit-content;
    margin-top: -0.8em;
}

.box-title {
    background: white none repeat scroll 0 0;
    display: inline-block;
    padding: 0 10px;
    margin-left: 20px;
}

.box-title h3 {
    font-size: 20px;
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
}

.box-contents {
    padding: 50px 80px;
    padding-top: 40px;
}

.normal-text-box {
    padding: 5px 10px;
    border: 1px solid var(--handstoburma-primary);
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: Popins, Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    border-radius: 5px;
    width: 400px;
}

.custom-dropdown {
    border: 1px solid var(--handstoburma-primary)!important;
    font-family: Popins, Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary)!important;
    font-size: 15px!important;
    border-radius: 5px!important;
    width: 300px!important;
    padding: 5px 10px!important;
    margin-bottom: 20px;
    margin-top: 10px;
}

.postal-code {
    border: 1px solid var(--handstoburma-primary)!important;
    font-family: Popins, Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary)!important;
    font-size: 15px!important;
    border-radius: 5px!important;
    width: 200px!important;
    padding: 5px 10px!important;
    margin-bottom: 20px;
    margin-top: 10px;
}

.phone-input {
    border: 1px solid var(--handstoburma-primary)!important;
    font-family: Popins, Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary)!important;
    font-size: 15px!important;
    border-radius: 5px!important;
    width: 250px!important;
    padding: 5px 10px!important;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.country-code {
    border: 1px solid var(--handstoburma-primary)!important;
    font-family: Popins, Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary)!important;
    font-size: 15px!important;
    border-radius: 5px!important;
    width: 60px!important;
    padding: 5px 10px!important;
    margin-bottom: 20px;
    margin-top: 10px;
}

label {
    font-family: Popins, Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
}

@media screen and (max-width: 1200px) {
    .box-contents {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
    }
    .normal-text-box {
        width: 300px;
    }
    .custom-dropdown {
        width: 250px!important;
    }
}

@media screen and (max-width: 992px) {
    .box-contents {
        padding-left: 40px;
        padding-right: 40px;
    }
    .normal-text-box {
        width: 250px;
    }
    .custom-dropdown {
        width: 120px!important;
    }
    .postal-code {
        width: 100px!important;
    }
}

@media screen and (max-width: 768px) {
    .box-contents {
        padding-top: 30px;
    }
    .normal-text-box {
        width: 200px;
    }
    .custom-dropdown {
        width: 200px!important;
    }
    .postal-code {
        width: 200px!important;
    }
    
    .phone-input {
        width: 338px!important;
    }
}

@media screen and (max-width: 576px) {
    .normal-text-box {
        width: 100%;
    }
    .width-xs-100 {
        width: 100%;
    }
    .custom-dropdown {
        width: 100%!important;
    }
    .postal-code {
        width: 100%!important;
    }
    .phone-input {
        width: 80%!important;
    }
    
    .country-code {
        width: 20%!important;
    }
}