.haha {
    background: url("../assets/images/home-bg.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    z-index: -11111;
    /* filter: contrast(135%); */
    filter: blur(8px);
}

header {
    height: 100vh;
}

.nav-bar {
    color: #2b4e6e;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.menu {
    background-color: var(--handstoburma-primary);
    padding: 25px 30px;
    
}

.menu li a {
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #F8F8F8; 
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.menu li:last-child a {
    border: 1px solid none;
    padding: 8px 12px;
    border-radius: 3px;
    background-color: #DBB1BC;
    color: black;
}

.banner-content {
    margin-top: calc(100vh - 575px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    padding: 0px 20px;
}

.banner-content h1 {
    font-family:  "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-weight: 600;
    line-height: 60px;
}

.banner-content p {
    font-size: 16px;
    line-height: 30px;
    color: var(--handstoburma-primary);
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.banner-content a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--handstoburma-primary);
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    padding: 8px 20px;
    background-color: transparent;
    border: 2px solid var(--handstoburma-primary);
    border-radius: 100px;
    transition: all 200ms 50ms ease-out;
}

.banner-content a:hover {
    color: #fff;
    background-color: var(--handstoburma-primary);
}

.idps-war-refugees {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.idps-war-refugees h3 {
    font-family:  "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
}

.short-border-bottom {
    width: 130px;
    height: 4px;
    background-color: var(--handstoburma-secondary);
    margin: 0 auto;
}

.ques-ans-r {
    margin-top: 40px;
    padding-left: 100px;
    padding-right: 20px;
}

.ques-ans-l {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 100px;
}

.wh-ques-r {
    
}

.wh-ques-r h3{
    font-family:  "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-size: 30px;
    font-weight: 600;
    text-align: right;
}

.wh-ques-l h3 {
    font-size: 30px;
    font-family:  "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-weight: 600;
    text-align: left;
}

.wh-ans-r {}

.wh-ans-r p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: var(--handstoburma-primary);
    text-align: right;
}

.wh-ans-l p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: var(--handstoburma-primary);
    text-align: left;
}

.intro-text {
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 10px;
}

.intro-text p {
    text-align: center;
    color: var(--handstoburma-primary);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 40px;
}

.footer-menu {
    margin-bottom: 20px;
    padding-left: 100px;
}

.contact-us {
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 10px;
}

.footer-menu h3 {
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}
.contact-us h3 {
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

.footer-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: var(--handstoburma-primary);
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 40px;
    transition: all 200ms 50ms ease-out;
}

.footer-menu ul li a:hover {
    color: var(--handstoburma-secondary);
    font-size: 22px;
}

.address h5 {
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
}

.address p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: var(--handstoburma-primary);
}

.social {
    width: fit-content;
    margin: 0 auto;
    padding-top: 10px;
}

.social ul {
    list-style: none;
    padding: 0px;
}

.social ul li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.social ul li a {
    font-size: 30px;
    color: var(--handstoburma-primary);
    transition: all 200ms 50ms ease-out;
}

.social ul li a:hover {
    font-size: 35px;
    color: var(--handstoburma-secondary);
}

.img-what {
    width: 100%;
    height: 300px;
    background-color:#DBB1BC;
    margin-top: 20px;
}

.vid {
    margin-top: 40px;
    padding: 10px;
}

.short-border-bottom-left {
    width: 100px;
    height: 4px;
    background-color: var(--handstoburma-secondary);
    margin-top: 10px;
    margin-bottom: 10px;
}

.copyright {
    padding: 10px;
}

.copyright p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--handstoburma-primary);
    text-align: center;
}

.disclaimer {
    font-size: 18px;
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-weight: 600;
}

.disclaimer-text {
    font-size: 14px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
}

@media screen and (max-width: 1200px) {
    .menu {
        padding: 25px 15px;
    }
    .ques-ans-r {
        padding-left: 10px;
    }
    .ques-ans-l {
        padding-right: 10px;
    }
    .wh-ans-r p {
        font-size: 16px;
        line-height: 30px;
    }
    
    .wh-ans-l p {
        font-size: 16px;
        line-height: 30px;
    }
    .footer-menu {
        padding-left: 40px;
    }
}

@media screen and (max-width: 992px) {
    .menu {
        padding: 15px 10px;
    }
    .menu li a {
        font-size: 12px;    
    }
    .ques-ans-l {
        padding-right: 0px;
    }
    .ques-ans-r {
        padding-left: 0px;
    }
    .footer-menu {
        padding-left: 10px;
    }
    .contact-us {
        padding-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .banner-content h1 {
        line-height: 30px;
        font-size: 30px;
    }
    .banner-content p {
        font-size: 14px;
    }
    .ques-ans-r {
        padding: 10px;
    }
    .ques-ans-l {
        padding: 10px;
    }
    .wh-ques-r h3 {
        font-size: 25px;
        line-height: 30px;
    }
    
    .wh-ques-l h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .wh-ans-r p {
        font-size: 14px;
        line-height: 25px;
    }
    
    .wh-ans-l p {
        font-size: 14px;
        line-height: 25px;
    }
    .contact-us {
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 576px) {
    .idps-war-refugees h3 {
        font-size: 30px;
    }
    .social ul li {
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .social ul li a {
        font-size: 25px;
        color: var(--handstoburma-primary);
        transition: all 200ms 50ms ease-out;
    }
    
    .social ul li a:hover {
        font-size: 30px;
        color: var(--handstoburma-secondary);
    }
    .footer-menu h3 {
        font-size: 25px;

    }
    .contact-us h3 {
        font-size: 25px;

    }
}

@media screen and (max-width: 480px) {
    .banner-content h1 {
        font-size: 20px;
        line-height: 30px;
    }
    .footer-menu h3 {
        font-size: 20px;
    }
    .contact-us h3 {
        font-size: 20px;
    }
}