.haha {
    background: url("../assets/images/home-bg.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    z-index: -11111;
    /* filter: contrast(135%); */
    filter: blur(8px);
}

header {
    height: 100vh;
}

.nav-bar {
    color: #2b4e6e;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.menu {
    background-color: var(--handstoburma-primary);
    padding: 25px 30px;
    
}

.menu li a {
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #F8F8F8; 
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.menu li:last-child a {
    border: 1px solid none;
    padding: 8px 12px;
    border-radius: 3px;
    background-color: #DBB1BC;
    color: black;
}

.banner-content {
    margin-top: calc(100vh - 575px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    padding: 0px 20px;
}

.banner-content h1 {
    font-family:  "Source Serif Pro", Arial, Helvetica, sans-serif;
    color: var(--handstoburma-primary);
    font-weight: 600;
    line-height: 60px;
}

.banner-content p {
    font-size: 14px;
    color: var(--handstoburma-primary);
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.banner-content a {
    display: inline-block;
    margin-top: 0px;
    text-decoration: none;
    font-family: "Source Serif Pro", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--handstoburma-primary);
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
    padding: 8px 20px;
    background-color: transparent;
    border: 2px solid var(--handstoburma-primary);
    border-radius: 100px;
    transition: all 200ms 50ms ease-out;
}

.banner-content a:hover {
    color: #fff;
    background-color: var(--handstoburma-primary);
}

@media screen and (max-width: 1200px) {
    .menu {
        padding: 25px 15px;
    }
}

@media screen and (max-width: 992px) {
    .menu {
        padding: 15px 10px;
    }
    .menu li a {
        font-size: 12px;    
    }
}

@media screen and (max-width: 768px) {
    .banner-content h1 {
        line-height: 30px;
        font-size: 30px;
    }
    .banner-content p {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    
}

@media screen and (max-width: 480px) {
    .banner-content h1 {
        font-size: 20px;
        line-height: 30px;
    }
}